@import "tailwindcss";
@import "../styles/md-color-tokens.css";

:root {
  --md-icon-font: var(--font-material-symbols);
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
}
