@import "tailwindcss";
@import "../styles/md-color-tokens.css";

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
  font-family: var(--font-roboto-flex), system-ui, sans-serif;
}
